
    <div class="row">
        <div class="col-12">
            <div class="col-6">

            </div>
            <div class="col-6">
                <button class="btn btn-outline-primary" routerLink="/Add">Add Contact</button>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email Id</th>
              <th scope="col">Phone No.</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let contact of contactList'>
                <td>{{contact.firstName + ' ' + contact.lastName}}</td>
              <td>{{contact.emailId}}</td>
              <td>{{contact.phoneNumber}}</td>
              <td>{{contact.status == true ? 'Active' : 'InActive' }}</td>
              <td>
                <!-- <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button> -->
                <button type="button" class="btn btn-success" style="margin-right:10px; " [routerLink]="['/Add',contact.id]">Edit</button>
                <button type="button" class="btn btn-danger" [routerLink]="['/Delete',contact.id]">Delete</button>
                <!-- <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Modal -->
